$color-section-headers: #666D89;
$color-section-descriptions: #767E9E;
$color-base-red: #F06C64;
$color-base-blue: #2D303A;
$color-border-blue: #323746;
$color-border-red: #EA676B;
$color-base-white: #F2F2F2;
$color-white: #FFFFFF;
$color-section-name: #C4C4C4;
$color-section-description: #C4C4C4;
$color-filter: #C4C4C4;

$content-width: 1020px;
$content-width-short: 940px;
$tablet-width: 768px;
$mobile-width: 375px;