.wrapper {
    max-width: $content-width;
    margin: auto;
}

.wrapper__content {
    max-width: $content-width-short;
    margin: auto;
    padding: 0 40px;
}

@media only screen and (max-width: 375px)  {
    .wrapper {
        max-width: $mobile-width;
        margin: auto;
    }
}